<div class='col-10'>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.first_name %></td>
        <td><%= friend.first_name %></td>
        <td> <%= link_to "Stop following", '#', method: :delete, class: 'btn btn-sm btn-warning', data: {confirm: 'Are you sure?'}%> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>