<div class="jumbotron">
  <h1 class="display-4">Finance Tracker</h1>
  <p class="lead">This application lets you manager your stocks portfolio</p>
  <hr class="my-4">
  <p>It shows up latest stocks data</p>
  <p class="lead">
    <%= link_to "Get Started", my_portfolio_path, class:"btn btn-primary btn-lg" %>
  </p>
</div>